@import 'sass/_colours';
@import 'sass/_mixins';

.order-total {
  display: none;
  margin-top: 15px;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.content {
  @include make-col-ready;
  @include make-col(12);
}

.mobile {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
}

// TODO: Revisit using CSS vars here to override what the SASS mixin does. Need to find a SASS mixin solution?
.btn-submit {
  @include form-button-submit;
  width: calc(100% - 64px);

  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.btn-cancel {
  @include form-button-cancel;
  display: none;
  margin-right: 24px;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.cart {
  :global {
    .back-to-shop {
      display: block;
      font-weight: 600;
      border: 1px solid var(--primary);
      border-radius: 6px;
      color: var(--primary);
      padding: 10px 16px;
      text-align: center;
      width: 100%;
      &:hover {
        background: var(--primary);
        color: #ffffff;
        text-decoration: none;
      }
    }

    .subcharge {
      color: var(--primary);
    }

    hr {
      border-top: 1px solid #e0e0e0;
    }

    .address-selector {
      padding-top: 20px;
    }

    .form-material {
      .error-message {
        padding: 5px 10px;
        background: #f44336;
        color: #fff !important;
        border-radius: 3px;
        margin: 0 auto;
      }
    }

    .promo-conditions-not-met {
      font-weight: 600;
      color: var(--primary);
    }
  }
}
