@import 'sass/_colours';
@import 'sass/_mixins';

.item {
  @include make-row;
  font-size: var(--font-size-body);
  padding-bottom: 24px;
  padding-top: 24px;

  a {
    cursor: pointer;
    text-decoration: none;
  }
}

.image {
  @include make-col-ready;
  @include make-col(3);

  @include media-breakpoint-up(md) {
    @include make-col(2);
  }
}

.product {
  @include make-col-ready;
  @include make-col(6);

  @include media-breakpoint-up(md) {
    @include make-col(7);
  }

  :global {
    .input-number {
      box-shadow: none;
      font-size: var(--font-size-button);
    }
  }

  .title {
    font-weight: 600;
  }
  .grey {
    color: #898989 !important;
  }
}

.grey {
  color: #898989 !important;
}
.bundle {
  @include make-col-ready;
  @include make-col(6);

  @include media-breakpoint-up(md) {
    @include make-col(7);
  }

  .title {
    font-weight: 600;
  }

  ul {
    list-style: none;
    margin: 0 0 0 0.5em;
    padding: 0;
  }
}

.remove {
  @include make-col-ready;
  @include make-col(3);
}
