.wrap {
    :global {
        input {
            margin: 16px 0 0;
        }
        
        input:focus {
            border-bottom: 1px solid #373a3c!important;
        }
        
        label {
            top: 6px !important;
        }
        
        label.touched {
            transform: translateY(-20px);
            font-size: 11px;
        }
    }
}