@import 'sass/_colours';
@import 'sass/_mixins';

.field {
  @include form-field;
  margin-bottom: 20px;

  input[type='checkbox'] + label {
    margin-left: 30px;
    padding-top: 2px;
    &::before {
      position: absolute;
      left: -28px;
    }
    &::after {
      position: absolute;
      left: -28px !important;
    }
  }
}
span {
  color: #f57153;
}
.checkboxes {
  margin-top: 50px;

  .field {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }

  .error {
    margin-bottom: 20px;
    margin-top: -15px;

    // FIXME: This is hacky. Shouldn't be aware of the internal HTML structure of FieldError component. Find a better way.
    > div {
      &:first-of-type {
        margin-left: 10px;
      }
    }
  }
}

.errors {
  margin-bottom: 10px;
  text-align: center;
}

.failed {
  text-align: center;
  color: red;
  margin-top: 40px;
  p {
    margin: 0;
  }
}

.hint {
  @include form-hint;
}

.submit {
  @include form-button-submit;
}

.hint {
  @include form-hint;
}
.input {
  margin-bottom: 4px !important;
}

.btnVerify {
  @include form-button-submit;
  display: block;
  margin-right: 24px;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.required {
  color: $colour-spritz;
}
